{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Listado de Ingresos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Alumno</th>
                <th>Grado</th>
                <th>Fecha y Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr class="{% if registro.hora_ingreso > '07:15:00' %}table-danger{% endif %}">
                <td>{{ registro.id }}</td>
                <td>{{ registro.alumno.nombre }}</td>
                <td>{{ registro.alumno.grado }}</td>
                <td>{{ registro.hora_ingreso }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No hay registros de ingresos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
