<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Acceso{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Sistema de Acceso</a>
        <a class="navbar-brand" href="{% url 'escaneo_qr' %}">Escaner</a> 
        <a class="navbar-brand" href="{% url 'listar_alumnos' %}">Alumnos</a> 
        <a class="navbar-brand" href="{% url 'lista_ingresos' %}">Listado de ingresos</a> 
    </nav>
    
    <div class="container mt-5">
        {% block content %}
        <!-- Aquí irán las vistas específicas -->
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>